body{
    background-color: navajowhite;
}
h3 {
    display: flex;
    justify-content: center;
    font-family: cursive;

}
h2{
    display: flex;
    justify-content: center;
    font-family: cursive;
}
h1 {
    display:flex; 
    justify-content: center;;
    
}
.h1color{
    color:red;
}
span{
    color:red;
}
.navbar{
    display:flex;
    justify-content: center;
    
}   
li{
    display: block;
  margin-left: auto;
  margin-right: auto;
    color:red;
    width: 100px;
}

.Thompson{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
.Nick{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
.Prof{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
p{
    display: flex;
    justify-content: center;
}
.potatos {
    display: block;
    margin-left: auto;
    margin-right: 300px;
    width: 300px;
}